<header id="header">
    <div class="center">
        <div id="logo">
            <img src="../assets/logo.png" class="app-logo" alt="Logotipo" />
            <span id="brand">
                        <strong>Aplicación Peluquerias</strong>
                    </span>
        </div>

        <nav id="menu">
            <ul>
                <li>
                    <router-link to="/inicio" active-class="active">Inicio</router-link>
                </li>
                <li>
                    <router-link to="/municipios" active-class="active">Municipios</router-link>
                </li>
                <li>
                    <router-link to="/peluquerias" active-class="active">Peluquerias</router-link>
                </li>
                <li>
                    <router-link to="/crear-firma" active-class="active">Firmas</router-link>
                </li>

            </ul>
        </nav>

        <div class="clearfix"></div>
    </div>
</header>